.view_dataTable .dataTables_filter {
    float: right;
}

.view_dataTable .table {
    max-width: 100% !important;
}


.view_dataTable thead {
    background: #ddd;
}

/*.view_dataTable .table td:nth-child(2) {*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*}*/

@media only screen and (max-width: 767px) {
    .view_dataTable table,
    .view_dataTable thead,
    .view_dataTable tbody,
    .view_dataTable th,
    .view_dataTable td,
    .view_dataTable tr {
        display: block;
    }

    .view_dataTable thead tr,
    .view_dataTable tfoot tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .view_dataTable td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50% !important;
    }

    .view_dataTable td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    .view_dataTable .table td:nth-child(1) {
        background: #ccc;
        height: 100%;
        top: 0;
        left: 0;
        font-weight: bold;
    }


    .view_dataTable td:nth-of-type(1):before {
        content: "Staff Name";
    }
    .view_dataTable td:nth-of-type(2):before {
        content: "Leave Type";
    }
    .view_dataTable td:nth-of-type(3):before {
        content: "Applied Date";
    }
    .view_dataTable td:nth-of-type(4):before {
        content: "HOD status";
    }
    .view_dataTable td:nth-of-type(5):before {
        content: "Admin Status";
    }
    .view_dataTable td:nth-of-type(6):before {
        content: "Action";
    }
    .view_dataTable .own_leave td:nth-of-type(1):before {
        content: "Leave Type";
    }
    .view_dataTable .own_leave td:nth-of-type(2):before {
        content: "Start Date";
    }
    .view_dataTable .own_leave td:nth-of-type(3):before {
         content: "End Date";
     }
    .view_dataTable .own_leave td:nth-of-type(4):before {
        content: "Leave days";
    }
    .view_dataTable .own_leave td:nth-of-type(5):before {
        content: "HOD status";
    }
    .view_dataTable .own_leave td:nth-of-type(6):before {
        content: "Admin status";
    }
    .view_dataTable .own_leave td:nth-of-type(7):before {
        content: "Action";
    }

    .view_dataTable .staff_info td:nth-of-type(1):before {
        content: "Full Name";
    }
    .view_dataTable .staff_info td:nth-of-type(2):before {
        content: "Email";
    }
    .view_dataTable .staff_info td:nth-of-type(3):before {
        content: "Phone Number";
    }
    .view_dataTable .staff_info td:nth-of-type(4):before {
        content: "Position";
    }
    .view_dataTable .staff_info td:nth-of-type(5):before {
        content: "Leave Days Leave";
    }
    .view_dataTable .staff_info td:nth-of-type(6):before {
        content: "Action";
    }



    .view_dataTable .dataTables_length {
        display: none;
    }
}
